@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-yellow: hsl(47, 88%, 63%);
    --color-grey-950: hsl(0, 0%, 7%);
    --color-grey-500: hsl(0, 0%, 42%);
    --font-text-preset-1: 1.5rem;
    --font-text-preset-2: 1rem;
    --font-text-preset-3: 0.875rem;
    --font-text-preset-4: 0.75rem;
    --font-text-preset-5: 1.25rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Figtree, sans-serif;
    line-height: 150%;
    letter-spacing: 0;
}

section {
    width: 327px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    border: 1px inset var(--color-grey-950);
    border-radius: 1.25rem;
    box-shadow: 0.5rem 0.5rem var(--color-grey-950);
}

.card__image img {
    display: block;
    height: 12.5rem;
    border-radius: 0.625rem;
    width: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card__content mark {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--color-yellow);
    color: var(--color-grey-950);
    font-size: var(--font-text-preset-4);
    font-weight: 800;
    width: fit-content;
}

.card__content time {
    color: var(--color-grey-950);
    font-size: var(--font-text-preset-4);
    font-weight: 500;
}

.card__content h2 {
    color: var(--color-grey-950);
    font-size: var(--font-text-preset-5);
    font-weight: 800;
}

.card__content h2:hover {
    color: var(--color-yellow);
}


.card__content p {
    color: var(--color-grey-500);
    font-size: var(--font-text-preset-3);
    font-weight: 500;
}

figure.card__author {
    display: flex;
    gap: 0.75rem;
    flex-direction: row;
    align-items: center;
}

.card__author img {
    width: 2rem;
    height: 2rem;
}

.card__author figcaption {
    color: var(--color-grey-950);
    font-size: var(--font-text-preset-3);
    font-weight: 800;
}

@media (min-width: 1440px) {
    section {
        width: 384px
    }
}